

</body>

<footer>
  <p style="">Copyright © 
    <script type="text/JavaScript">
    document.write(new Date().getFullYear());
    </script> 
    Brandon L. Russell. All rights reserved.</p>
</footer>

</html>
